h1 {
  background-color: aqua;
  text-align: center;
}

h2 {
    text-align: center;
}

.img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  width: 400px;
}

.one {
  text-align: center;  
}

.two {
  text-align: center;
  font-size: 30px;  
}
